.header {
  &__common {
    border-block-end: 1px solid var(--table-border);
    border-inline-end: 1px solid var(--table-border);
    padding: 0 8px;
    border-spacing: 0px;
    overflow: hidden;
    white-space: pre-wrap;
    background: var(--table-header-cell-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--table-text-color);
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--table-font-family);
    min-height: 35px;
  }

  &__empty {
    border-inline-end: none;
  }

  &__nowrap {
    white-space: nowrap;
  }

  &__lineClamp {
    & span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      align-self: stretch;
    }
  }
}

.cell {
  &__common {
    border-block-end: 1px solid var(--table-border);
    border-inline-end: 1px solid var(--table-border);
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 12px 8px;
    background: var(--table-cell-bg);
    overflow: hidden;
    white-space: pre-wrap;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    color: var(--table-text-color);
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--table-font-family);
  }

  &__empty {
    border-inline-end: none;
  }

  &__nowrap {
    white-space: nowrap;
  }

  &__lineClamp {
    & span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      align-self: stretch;
    }
  }
}
