.base {
  position: absolute;
  z-index: 3;
}

.link {
  background-color: #a1a4a6;
  position: absolute;
}
.corner {
  border-color: #a1a4a6;
  box-sizing: content-box !important;
  position: absolute;
  width: 4px;
  height: 4px;
}
.arrow {
  position: absolute;
  fill: #a1a4a6;
}

.one {
  &__leftToRight {
    height: calc(var(--size) * 1px);
    width: 22px;
  }
  &__radius {
    border-bottom-width: calc(var(--size) * 1px);
    border-right-width: calc(var(--size) * 1px);
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-right-radius: 4px;
  }
}

.two {
  &__topToBottom {
    height: 6.5px;
    width: calc(var(--size) * 1px);
  }
  &__radius {
    border-top-width: calc(var(--size) * 1px);
    border-right-width: calc(var(--size) * 1px);
    border-right-style: solid;
    border-top-style: solid;
    border-top-right-radius: 4px;
  }
}

.three {
  &__rightToLeft {
    height: calc(var(--size) * 1px);
    width: 57px;
  }
  &__radius {
    border-bottom-width: calc(var(--size) * 1px);
    border-left-width: calc(var(--size) * 1px);
    border-left-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 4px;
  }
}

.four {
  &__topToBottom {
    height: 31.5px;
    width: calc(var(--size) * 1px);
  }
  &__radius {
    border-top-width: calc(var(--size) * 1px);
    border-left-width: calc(var(--size) * 1px);
    border-left-style: solid;
    border-top-style: solid;
    border-top-left-radius: 4px;
  }
}

.five {
  &__leftToRight {
    height: calc(var(--size) * 1px);
    width: 13px;
  }
  &__arrow {
  }
}
