.base {
  display: flex;
  background-color: white;
}

.scroll {
  width: 100%;
  height: 15px;
  background: white;
  border-radius: 6px;
  margin-left: 3px;

  &__track {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__body {
    background: #e2e2e2;
    width: 100%;
    height: 4px;
    border-radius: 6px;
  }

  &__thumb {
    height: 4px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    width: 100px;
    cursor: grab;
    display: none;
    padding: 7px 0;

    &:active {
      cursor: grabbing;
    }
  }
}
