.table {
  display: grid;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: collapse;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  position: relative;
  background-color: var(--table-body-bg);

  display: flex;
  flex-direction: column;
}

.fake {
  &__column {
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: var(--table-border);
    border-left: 1px solid var(--table-border);
  }
}
