.table {
  display: grid;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: collapse;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__frozen {
    position: sticky;
    top: 0;
    z-index: 5;
  }
}

.header {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.bodyContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  position: relative;
  background-color: var(--table-body-bg);
  width: fit-content;
  display: flex;
  flex-direction: column;
}
