.base {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  --table-font-family: Nunito;
  --table-box-shadow-left: -2px 0px 5px -2px rgba(136, 136, 136, 0.3);
  --table-box-shadow-right: 2px 0 5px -2px rgba(136, 136, 136, 0.3);
  --table-box-shadow-bottom: 0px 3px 5px -2px rgba(136, 136, 136, 0.3);
  --table-cell-bg: #ffffff;
  --table-header-cell-bg: #fafafa;
  --table-body-bg: #ffffff;
  --table-header-bg: #fafafa;
  --table-border: #f0f0f0;
  --table-footer-bg: #fafafa;
  --table-text-color: #262626;
  --table-link-color: #a870e8;
  --table-off-sort: #00000040;
  --table-active-sort: #1e90ff;
  --table-row-hover-bg: #f5f5f5;
  --table-transition: all 0.1s ease;

  // @media (prefers-color-scheme: dark) {
  //   --table-box-shadow-left: -2px 0px 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-box-shadow-right: 2px 0 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-box-shadow-bottom: 0px 3px 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-cell-bg: #1e1e1e;
  //   --table-header-cell-bg: #333333;
  //   --table-body-bg: #1e1e1e;
  //   --table-header-bg: #333333;
  //   --table-border: #292929;
  //   --table-text-color: rgba(255, 255, 255, 0.85);
  //   --table-link-color: #a870e8;
  //   --table-active-sort: #1e90ff;
  //   --table-row-hover-bg: #f3faff;
  //   --table-transition: all 0.1s ease;
  // }

  // @media (prefers-color-scheme: light) {
  //   --table-box-shadow-left: -2px 0px 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-box-shadow-right: 2px 0 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-box-shadow-bottom: 0px 3px 5px -2px rgba(136, 136, 136, 0.3);
  //   --table-cell-bg: #ffffff;
  //   --table-header-cell-bg: #f9f9f9;
  //   --table-body-bg: #ffffff;
  //   --table-header-bg: #f9f9f9;
  //   --table-border: #ddd;
  //   --table-text-color: rgba(0, 0, 0, 0.75);
  //   --table-link-color: #a870e8;
  //   --table-active-sort: #1e90ff;
  //   --table-row-hover-bg: #f3faff;
  //   --table-transition: all 0.1s ease;
  // }
}

.container {
  overflow: auto;
  position: relative;
  width: 100%;
  border: 1px solid var(--table-border);
  height: 100%;
}
