.table {
  display: grid;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: collapse;

  display: flex;
  flex-direction: column;
}

.header {
  display: grid;

  display: flex;
  flex-direction: column;

  &__frozen {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.headerRow {
  background-color: var(--table-header-bg);
  overflow: initial;
  display: flex;
}

.headerCell {
  position: relative;
  display: flex;

  &__frozen {
    &_left {
      position: sticky;
      z-index: 2;

      &_last {
        box-shadow: var(--table-box-shadow-right);
      }
    }

    &_right {
      position: sticky;
      z-index: 2;

      &_first {
        box-shadow: var(--table-box-shadow-left);
        border-left: 1px solid var(--table-border);
      }
    }
  }
}

.headerResize {
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  width: 10px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.body {
  display: grid;
  position: relative;
  background-color: var(--table-body-bg);

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;

  &:hover {
    background-color: var(--table-row-hover-bg);

    & > td {
      background-color: var(--table-row-hover-bg);
    }
  }

  &__virtual {
    position: absolute;
  }
}

.cell {
  transition: var(--table-transition);

  &__frozen {
    &_left {
      position: sticky;
      left: 0;
      z-index: 1;

      &_last {
        box-shadow: var(--table-box-shadow-right);
      }
    }

    &_right {
      position: sticky;
      right: 0;
      z-index: 1;

      &_first {
        box-shadow: var(--table-box-shadow-left);
        border-left: 1px solid var(--table-border);
      }
    }
  }
}
