.pageSelect {
  width: fit-content;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
}

.paginationTotal {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--table-border);
  background: var(--table-footer-bg);
  overflow: hidden;
  color: var(--table-text-color);
  text-overflow: ellipsis;
  font-family: var(--table-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

ul.pagination {
  padding: 16px 0px;
  align-self: flex-end;

  &:global(.ant-pagination) li {
    --ant-pagination-item-active-bg: transparent;
    --ant-pagination-item-bg: transparent;
  }
}
