.headerRow {
  background-color: var(--table-header-bg);
  overflow: initial;
  display: grid;
  position: relative;
  width: calc(var(--table-total-width) * 1px);
  grid-template-columns: var(--table-template-columns);
}
