.table {
  display: grid;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: collapse;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.header {
  display: grid;

  display: flex;
  flex-direction: column;

  &__frozen {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.headerRow {
  background-color: var(--table-header-bg);
  overflow: initial;
  display: flex;
  width: fit-content;
}

.body {
  display: grid;
  position: relative;
  background-color: var(--table-body-bg);

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: fit-content;
  transition: var(--table-transition);
  background-color: var(--table-row-bg);

  &:hover {
    background-color: var(--table-row-hover-bg);
  }

  &__virtual {
    position: absolute;
  }
}
