.row {
  display: flex;
  width: fit-content;
  background-color: var(--table-row-bg);
  position: relative;

  &:hover {
    background-color: var(--table-row-hover-bg);
  }

  &__virtual {
    position: absolute;
  }
}
