.button {
  position: absolute;
}
.settings {
  padding: 20px;
  position: absolute;
  display: flex;
  background-color: #e5e5e5;
  z-index: 10;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(87, 83, 83, 0.525);

  &__container {
    max-height: 600px;
    overflow: auto;
  }
}
