.cell-red {
  background-color: red;
}

.cell-yellow {
  background-color: yellow;
}

.cell-black {
  background-color: black;
}

.header-green {
  background-color: green;
}

.header-blue {
  background-color: blue;
}

.header-white {
  background-color: white;
}
