a.container {
  color: var(--table-link-color);
}

.container {
  min-height: 35px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  gap: 10px;

  &__center {
    height: 100%;
    align-items: center;
  }
}

.base {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  color: var(--table-text-color);
  font-weight: 500;
  font-family: Nunito;

  &__tooltip {
    font-family: Nunito;
  }

  &__link {
    color: var(--table-link-color);
  }
}
