.expander {
  &__button {
    background-color: transparent;
    outline: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    cursor: pointer;
    color: var(--table-text-color);
    font-weight: 400;
    border: 1px solid #b3b3b3;
    padding: 0;
  }
  &__icon {
    transition: all 0.15s ease;
    transform: rotate(90deg);
    &_open {
      transform: rotate(180deg);
    }
  }
}
