.pageSelect {
  width: fit-content;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
}

ul.pagination {
  padding: 16px 0px;
  align-self: flex-end;

  &:global(.ant-pagination) li {
    --ant-pagination-item-active-bg: transparent;
    --ant-pagination-item-bg: transparent;
  }
}
