.row {
  display: grid;
  background-color: var(--table-row-bg);
  position: relative;
  width: calc(var(--table-total-width) * 1px);
  grid-template-columns: var(--table-template-columns);

  &:hover {
    background-color: var(--table-row-hover-bg);
  }

  &__virtual {
    position: absolute;
  }

  &__selected {
    background-color: var(--table-selected-row-bg);

    &:hover {
      background-color: var(--table-selected-row-hover-bg);
    }
  }

  &:focus-visible {
    background-color: var(--table-row-hover-bg);
    outline: none;
  }
}

.ghost {
  display: flex;
  width: 100%;
}
