a.container {
  color: var(--table-link-color);
}

.container {
  min-height: 35px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  gap: 10px;

  &__center {
    height: 100%;
    align-items: center;
  }

  &__hCenter {
    height: 100%;
    align-items: center;
  }
  &__wCenter {
    width: 100%;
    justify-content: center;
  }
}

.tooltip {
  font-family: var(--table-font-family);
  overflow: hidden;
}

.base {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  color: var(--table-text-color);
  font-weight: 500;
  font-family: var(--table-font-family);
}

.tag {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: fit-content;
  cursor: pointer;

  &__container {
    height: fit-content;
    max-width: 100%;
  }
}

.select {
  &__container {
    &:hover {
      & > .select__number {
        display: none;
      }
      & > .select__check {
        display: block;
      }
    }
  }
  &__number {
    display: block;
  }
  &__check {
    display: none;
  }
}
