.common {
  &__container {
    height: fit-content;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
  }

  &__base {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
